body {
	margin: 0;
	font-family: andale mono, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('../../public/images/background.jpeg');
}

/* Home Page Styling */

.homeDescr {
	text-align: center;
	padding: 20px;
}

.homeDescr p {
	padding: 20px;
	font-size: 25px;
}

.homeDescr h1 {
	font-size: 70px;
	font-style: normal;
}

/* Learn About Container */
.learn-container {
	background-color: #1A4381;
}

.container-heading {
	padding: 12px;
	text-align: center;
	color: white;
	font-size: 40px;
	/* background-color: #1A4381; */
}

.container {
	display: flex;
	justify-content: center;
	padding: 30px;
	gap: 60px;
	/* background-color: #1A4381; */
	/* adds a gap between the boxes */
}

.box-container {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	position: relative;
	width: 300px;
	height: 300px;
	color: black;
	margin-right: 10px;
}

.box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 20px;
	overflow: hidden;
	border: 1px solid #EDEAEA;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	align-items: center;
	background-color: #EDEAEA;
}

.box:hover {
	background-color: #c6c5c5;
	transform: translateY(-5px);
}

.caption {
	margin-top: 10px;
	font-size: 1rem;
	text-align: center;
	color: white;
	position: absolute;
	bottom: -1.75rem;
	padding-left: 4rem;
}

.box img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	/* centers the image */
}

/* Statistics Styling for Home Page */
.stats-container {
	background-color: #1A4381;
	padding: 12px;
}

.stats-heading {
	color: white;
	text-align: center;
	background-color: #1a4381c5;
	padding: 20px;
	margin-bottom: 0px;
}

.stats-box {
	text-align: center;
	color: white;
	font-size: 4em;
}

.stats-box p {
	font-size: 1rem;
}
.stats-box a {
	color: white;
}

/* About the Team Styling for Home Page */
.about-heading {
	padding: 12px;
	text-align: center;
	color: white;
	background-color: #727C80;
	border: #727C80;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	/* margin-top: 40px; */
}

.about-container {
	position: relative;
	width: 200px;
	height: 250px;
	margin-right: 10px;
}

.about-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 20px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}


.about-box img {
	width: 100%;
	height: auto;
	margin: auto;
	/* centers the image */
}

.about-box p {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 10px;
	background-color: white;
	text-align: center;
}

.about-main-container {
	display: flex;
	justify-content: center;
	gap: 50px;
	margin-top: 40px;
	padding-bottom: 20px;
}

/* Button on Bottom of Home Page */
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* add align-items */
	text-align: center;
	/* add text-align */
	margin-top: 60px;
	padding-bottom: 100px;

}

button {
	background-color: #727C80;
	color: white;
	font-size: 40px;
	font-weight: bold;
	border: none;
	padding: 30px 30px;
	border-radius: 5px;
	width: 1000px;
}

button:hover {
	background-color: #393f42;
	transform: translateY(-5px);
}

/* Reading Pages */
.broken-auth-desc,
.risk-desc,
.prevention-desc .SQL-injection-desc,
.cross-site-scripting-desc {
	margin-left: 0.5rem;
}

.broken-auth-desc li {
	margin-left: 1rem;
	padding-top: 0.25rem;
}

.prevention-desc li {
	margin-left: 1rem;
	padding-top: 0.25rem;
}

.btn-container button {
	background-color: #C0C0C0;
	text-align: center;
	color: black;
	font-size: 30px;
	border-radius: 5px;
	width: 300px;
	position: absolute;
	bottom: -300;
	right: 40%;
}

.btn-container {
	padding-bottom: 1rem;
}

footer {
	background-color: #727C80;
	color: white;
}
footer p {
	text-align: center;
	font-size: 20px;
}

/* Example Pages */
.img-container {
	text-align: center;
	padding-bottom: 1rem;
}

.image-container {
	padding-bottom: 1rem;
	padding-left: 1.5rem;
}

.text-container li {
	margin-left: 1rem;
}

.ref-container p {
	position: absolute;
	right: 0;
	padding-right: 0.75rem;
	bottom: -32rem;
	font-size: small;
}


.reference-container p {
	position: absolute;
	right: 0;
	padding-right: 0.75rem;
	bottom: -3.5rem;
	font-size: small;
}

.nav-link {
	font-size: 1.25rem;
}

.navbar-brand {
	font-size: 1.5rem;
}
