body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Home Page Styling */

.homeDescr {
	text-align: center;
	padding: 20px;
}

.homeDescr p {
	padding: 20px;
	font-size: large;
}

/* Learn About Container */

.container-heading {
	padding: 12px;
	text-align: center;
	color: white;
	background-color: #1A4381;
}

.container {
	display: flex;
	justify-content: center;
	padding: 30px;
	gap: 60px;
	background-color: #1A4381;
	/* adds a gap between the boxes */
}

.box-container {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	position: relative;
	width: 300px;
	height: 300px;
	margin-right: 10px;
}

.box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 20px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	align-items: center;
	background-color: #f0f0f0;
	/* 
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); */
}

.caption {
	margin-top: 10px;
	font-size: 1rem;
	text-align: center;
	color: black;
}

.box img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	/* centers the image */
}

/* About the Team Styling for Home Page */
.about-heading {
	padding: 12px;
	text-align: center;
	color: white;
	background-color: #727C80;
	border: #727C80;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	margin-top: 40px;
}

.about-container {
	position: relative;
	width: 200px;
	height: 250px;
	margin-right: 10px;
}

.about-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 20px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}


.about-box img {
	width: 100%;
	height: auto;
	margin: auto;
	/* centers the image */
}

.about-box p {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 10px;
	background-color: white;
	text-align: center;
}

.about-main-container {
	display: flex;
	justify-content: center;
	gap: 50px;
	margin-top: 40px;
	padding-bottom: 20px;
}

/* Button on Bottom of Home Page */
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* add align-items */
	text-align: center;
	/* add text-align */
	margin-top: 60px;
	padding-bottom: 100px;

}

button {
	background-color: #94DADE;
	color: white;
	font-size: 40px;
	font-weight: bold;
	border: none;
	padding: 30px 30px;
	border-radius: 5px;
	width: 1000px;
	}